@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root{
    --color60: #2d2d2d;
    --color30: #CAF0F8;
    --color10: #212529;
}
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: var(--color60);
    background-image: url('C:/Users/Deltagare/Desktop/GICU-3/example/simons lekstuga/testhtmlcss/images/main-background.jpg');
    background-size: cover;
    .navbar{
        background: none;
        padding: 0.5em;
        .container{
            //text-align: center;
            display: flex;
            justify-content: space-evenly;
            a{
                text-decoration: 0;
                color: white;
                font-weight: bold;
            }
        }
    }
    .searchbar{
        h1{
            color: white;
        }
        span{
            color: #8becff;
        }
        h2{
            color: white;
        }
        margin: auto;
        width: 50%;
        margin-top: 0;
        border-radius: 1em;
        //border: 2px solid black;
        text-align: center;
        background: none;
        font-size: 1.3em;
        input{
            display: inline;
        }
        .search{
            width: 70%;
            height: 2em;
            border-radius: 0.4em;
            margin-bottom: 1em;
        }
        /*.button{
            height: 2.2em;
            width: 20%;
            background-color: white;
            border-radius: 1.3em;
            font-size: 0.7em;
            color: rgb(0, 180, 0);
            border-color: rgb(0, 180, 0);
            cursor: pointer;
            :hover {
                font-weight: bolder;
            }
        }*/
    }
    .searchContentDiv {
        background-color: #8becff;
        height: 25px;
        display: flex;
        padding: 10px;
        //border-bottom: 1px solid var(--color10);
        border-radius: 10px;
    }
    .searchContentDivDescription {
        height: 50px;
        width: 50%;
        //margin-left: 96px;
        //margin-top: 100px;
        position: relative;
        //border-top-left-radius: 5px;
        //top: -104px;
        font-size: 12px;
    }
    .searchContentDivDescription a {
        //display: none;
        position: relative;
        width: 150px;
        left:0px;
    }
    
    
    #searchResult > div {
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: auto;
        height: 160px;
        background: var(--color30);
        //overflow: hidden;
        margin-right: 15px;
    }
    
    #searchResult img {
        width: auto;
        height: 48px;
        background: var(--titlebarcolor);
        border-radius: 10px;
    }
    #searchResult {
        background: none;
        height: 360px;
        overflow-y: auto;
    }
}